In [17]:
import pandas as pd
import numpy as np

Filter out the distance between two car is below 25m

In [18]:
def read_gps_sample_file(gps_file):
    df = pd.read_csv(gps_file, header=0, sep=',')
    df = df[(df.dis < 200) & (df.dis > 0)]
    df['round_time'] = df["time stamp"]
    df = df.round({'round_time':1})
    df = df.groupby(['round_time']).mean()
    df = df.reset_index()
    df['round_time'] = df['round_time']*10
    df.astype({'round_time': 'int64'})
    return df

In [19]:
bmw_x5_gps = "/datasets/sample_video/2020_01_09/bwm_x5/bmw/allpar.csv"
bmw_x5_df = read_gps_sample_file(bmw_x5_gps)

In [20]:
kia_niro_gps = "/datasets/sample_video/2020_01_09/kia_niro/niro/allpar.csv"
kia_niro_df = read_gps_sample_file(kia_niro_gps)

In [21]:
kia_niro_df.shape

(16517, 10)

In [22]:
bmw_x5_df.shape

(17903, 10)

In [7]:
kia_niro_df.to_csv("kia_niro.csv", header=False, index=False)
bmw_x5_df.to_csv("bmw_x5.csv", header=False, index=False)

In [8]:
kia_niro_df['dis'] = kia_niro_df[kia_niro_df['dis'] < 40]

In [9]:
kia_niro_df.head(5)

,round_time,V_ID,tx_lat,tx_lon,rx_lat,rx_lon,tx_speed,rx_speed,dis,time stamp
0,1.578546e+10,2.0,366255031.0,1.274572e+09,366254606.0,1.274571e+09,3.5,15.0,1.578546e+10,1.578546e+09
1,1.578546e+10,2.0,366255031.0,1.274572e+09,366254608.0,1.274571e+09,2.0,8.0,1.578546e+10,1.578546e+09
2,1.578546e+10,2.0,366255031.0,1.274572e+09,366254608.0,1.274571e+09,6.5,4.0,1.578546e+10,1.578546e+09
3,1.578546e+10,2.0,366255031.0,1.274572e+09,366254608.0,1.274571e+09,11.0,4.0,1.578546e+10,1.578546e+09
4,1.578546e+10,2.0,366255032.0,1.274572e+09,366254608.0,1.274571e+09,11.5,4.5,1.578546e+10,1.578546e+09

In [10]:
bmw_x5_df['dis'] = bmw_x5_df[bmw_x5_df.dis < 40]

In [11]:
bmw_x5_df.head(5)

,round_time,V_ID,tx_lat,tx_lon,rx_lat,rx_lon,tx_speed,rx_speed,dis,time stamp
0,1.578546e+10,1.0,366254606.0,1.274571e+09,366255031.0,1.274572e+09,15.0,3.5,1.578546e+10,1.578546e+09
1,1.578546e+10,1.0,366254608.0,1.274571e+09,366255031.0,1.274572e+09,8.0,2.0,1.578546e+10,1.578546e+09
2,1.578546e+10,1.0,366254608.0,1.274571e+09,366255031.0,1.274572e+09,4.0,6.5,1.578546e+10,1.578546e+09
3,1.578546e+10,1.0,366254608.0,1.274571e+09,366255031.0,1.274572e+09,4.0,11.0,1.578546e+10,1.578546e+09
4,1.578546e+10,1.0,366254608.0,1.274571e+09,366255032.0,1.274572e+09,5.0,11.5,1.578546e+10,1.578546e+09

In [12]:
common_time = np.intersect1d(bmw_x5_df['round_time'].to_numpy(), kia_niro_df['round_time'].to_numpy())

In [13]:
common_time.shape

(16408,)

In [14]:
np.save("round_time_below_40m.npy", common_time, allow_pickle=False)

In [23]:
kia_niro_df['dis'] = kia_niro_df[kia_niro_df['dis'] < 25]

In [24]:
bmw_x5_df['dis'] = bmw_x5_df[bmw_x5_df.dis < 25]

In [25]:
common_time = np.intersect1d(bmw_x5_df['round_time'].to_numpy(), kia_niro_df['round_time'].to_numpy())

In [26]:
common_time.shape

(16408,)

In [27]:
np.save("round_time_below_25m.npy", common_time, allow_pickle=False)

In [15]:
meta_file_left = "/datasets/sample_video/2020_01_09/bwm_x5/left_metadata.json"
meta_df = pd.read_json(meta_file_left, orient='index', convert_axes=False)
meta_df = meta_df.reset_index()
meta_df.to_csv("bwm_x5_left_metadata.csv", index=False, header=False)

In [28]:
kia_niro_left_metadata = "/datasets/sample_video/2020_01_09/kia_niro/left_metadata.json"
kia_niro_left_metadata = pd.read_json(kia_niro_left_metadata, orient='index', convert_axes=False)
kia_niro_left_metadata = kia_niro_left_metadata.reset_index()
kia_niro_left_metadata.to_csv("kia_niro_left_metadata.csv", index=False, header=False)